@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  scroll-behavior: smooth
}

.image-galleryHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.image-galleryHome .image-gallery-right-nav {
  position: absolute;
  top: 20%;
}

.image-galleryHome .image-gallery-left-nav {
  position: absolute;
  top: 20%;
}